.container{
    color: white;
    padding: 150px 0px 150px 150px;
    display: flex;
    flex-direction: column;
}
.firstRow{
    display: flex;
    margin-bottom: 70px;
}
.infoBlock{
    margin-right: 120px;
}
.infoBlockSmall{
    margin-right: 120px;
    align-self: flex-end;
}
.secondRow{
    display: flex;
}

.bigText{
    font-size: 46px;
    font-weight: 600;
    margin-top: 35px;
}
.smallText{
    font-size: 15px;
}
.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}